# gradle

.gradle/
build/
out/
classes/

# idea

!.idea/
.idea/*
!.idea/inspectionProfiles/
!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
!.idea/fileTemplates/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/*
!run/.gitkeep
changelog.txt
